<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Question</title>
  <style>
          .submitrbtn:hover {
            opacity: 1;
                }

                                .submitrbtn {
                background-color: #333333;
                color: #ffa500;
                padding: 12px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 20%;
                opacity: 0.9;
                }

  </style>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MITC </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/frontpage/frontpage/">Home</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="/logout_emp/logout_emp/"style="margin-left:850px;">Logout</a></li>
    </ul>
  </div>
</nav>

</head>
<body>
  <div class="container">
    <h3 align="center"> Add Question </h3>
    <hr>
  <form align="center" method="POST" action="/resultinsert/">
    {% csrf_token %}

       <label for="student_id">student_id:</label>
    <select class="form-control" type="text" id="student_id" name="student_id" style="width:200px;margin:0 auto;">
<option>--Select--</option>
{%for i in student_insert%}
<option value="{{i.student_id}}">{{i.name}}</option>
{%endfor%}
</select><br>

      <label for="stream_id">stream_id:</label>
    <select class="form-control" type="text" id="stream_id" name="stream_id" style="width:200px;margin:0 auto;">
<option>--Select--</option>
{%for i in stream_insert%}
<option value="{{i.stream_id}}">{{i.stream_name}}</option>
{%endfor%}
</select><br>

     <label for="class_id">Class_id:</label>
<select class="form-control" type="text" id="class_id" name="class_id" style="width:200px;margin:0 auto;">
<option>--Select--</option>
{%for i in class_insert%}
<option value="{{i.class_id}}">{{i.class_name}}</option>
{%endfor%}
</select><br>

      <label for="subject_id">Subjectid:</label>
    <select class="form-control" type="text" id="subject_id" name="subject_id" style="width:200px;margin:0 auto;">
<option>--Select--</option>
{%for i in subject_insert%}
<option value="{{i.subject_id}}">{{i.subject_name}}</option>
{%endfor%}
</select><br>

       <label for="chapter_id">Chapterid:</label>
    <select class="form-control" type="text" id="chapter_id" name="chapter_id" style="width:200px;margin:0 auto;">
<option>--Select--</option>
{%for i in chapter_insert%}
<option value="{{i.chapter_id}}">{{i.chapter_name}}</option>
{%endfor%}
</select><br>

  <label for="question_number"> Question number :</label>
  <input type="text" id="question_number" name="question_number" placeholder="enter question number" ><br><br>

      <label for="total_question"> Total question :</label>
  <input type="text" id="total_question" name="total_question" placeholder="enter total question" ><br><br>

      <label for="correct_answer"> Correct answer :</label>
  <input type="text" id="correct_answer" name="correct_answer" placeholder="enter correct_answer"><br><br>

      <label for="wrong_answer"> Wrong answer :</label>
  <input type="text" id="wrong_answer" name="wrong_answer" placeholder="enter wrong answer" ><br><br>

      <label for="skipped_questions"> Skipped questions :</label>
  <input type="text" id="skipped_questions" name="skipped_questions" placeholder="enter skipped questions" ><br><br>

      <label for="out_of_marks"> Out of marks :</label>
  <input type="text" id="out_of_marks" name="out_of_marks" placeholder="enter out of marks" ><br><br>

      <label for="obtained_marks"> Obtained marks :</label>
  <input type="text" id="obtained_marks" name="obtained_marks" placeholder="enter obtained marks" ><br><br>

      <label for="total_marks"> Total marks :</label>
  <input type="text" id="total_marks" name="v" placeholder="enter total marks" ><br><br>




  <button type="submit" class="submitrbtn">submit</button>
</div>
</form>

</body>
</html>